/* POSICIONAMIENTO */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divTabla{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}

#divControles{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px 0;
    margin: 5px 0;
    background-color: var(--gris);
    align-items: center;
}

/* ESTILOS */

table{
    width: 70%;
}

th,tr{
    text-align: start;
}

th:first-child,tr:first-child{
    width: 8%;
}

th:nth-child(2),tr:nth-child(2){
    width: 30%;
}

th:nth-child(3),tr:nth-child(3){
    width: 47%;
}

th:last-child,tr:last-child{
    width: 15%;
}

h1{
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

#añadir{
    width: 32px;
    height: 32px;
    background-image: url("../img/+.svg");
    background-size: contain;
    cursor: pointer;
}

.boton{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/sprite.png");
    cursor: pointer;
}

.editar{
    background-position: 0px 0px;
}
.borrar{
    background-position: -96px 0px;
}

.formEditar>.divBotones>*, .divBotones>*, .botonesPag{
    all: unset; /* quita todo lo que el navegador le ponga por defecto, tengo que ponerlo al principio */
    margin: 0 20px;
    width: 80px;
    padding: 10px 0;
    background-color: var(--azul);
    color: var(--blanco);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

div>.botonesPag{
    display: inline-block;
    margin-bottom: 30px;
}

#numEmpresas{
    margin-top: 10px;
}

#divFiltro{
    margin-bottom: 10px;
}

/* lo necesita alumno */

#tablaCarga{
    width: 100%;
}

#tablaCarga th, #tablaCarga tr{
    width: auto;
}

#tablaCarga .guardar{
    text-align: center;
}

#btnCargarMasiva{
    width: 64px;
    height: 32px;
    background-image: url("../img/+.svg");
    background-size: contain;
    cursor: pointer;
}

/* MODAL Y VELO PARA ALUMNO */

body .hidden{
    display: none;   
}

.velo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--velo);
    z-index: 9;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    border: 1px solid black;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    background: var(--blanco);
    z-index: 10;
    overflow-y: scroll;
}

.modal>div{
    width: 100%;
}


/* TABLET */
@media (max-width: 768px) {
    table{
        width: 98%;
    }
}

/* MOVIL */
@media (max-width: 576px){
    .divTabla td:first-child, .divTabla th:first-child, .divTabla td:nth-child(2), .divTabla th:nth-child(2){
        display: none;
    }
    span.botonesPag{
        width: 50px;
    }
    #cargarMasiva{
        width: 135px;
    }
    #añadir{
        background-repeat: no-repeat;    
    }
}