/* POSICIONAMIENTO */

body{
    display: flex;
    justify-content: center;
    font-family: 'kanit';
}

.formEditar{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.formEditar>div{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5px 0;
}

.formEditar>.divBotones, #modal .divBotones{
    display: flex;
    justify-content: space-evenly;
}

.formEditar>.divGrande{
    width: 100%;
}

.formEditar>div>*{
    margin: 0 20px;
    width: 100%;
}

#activa>*{
    width: auto;
    margin-left: 20px;
    margin-right: 0;
    height: 30px;
    align-content: center;
}

/* ESTILOS */

span.error{
    height: 19px;
    color: var(--rojo);
}

#activa{
    margin-bottom: 15px;
}

.formEditar>.divBotones>*, .divBotones>*{
    all: unset; /* quita todo lo que el navegador le ponga por defecto, tengo que ponerlo al principio */
    margin: 0 20px;
    width: 80px;
    padding: 10px 0;
    background-color: var(--azul);
    color: var(--blanco);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* MOVIL */
@media (max-width: 576px){
    .formEditar>div{
        width: 100%;
    }
}