:root {
    /* Colores */
    --azul: rgb(101, 101, 255);
    --verde: rgb(51, 165, 43);
    --rojo: red;
    --negro: black;
    --blanco: rgb(255, 255, 255);
    --gris: rgb(221, 219, 219);
    --velo: rgba(200, 200, 200, .7);

    /* Sombras */
    --sombra-negra: 0px 0px 30px rgba(0, 0, 0, 0.2);
    --sombra-azul: 3px 3px 10px rgba(101, 101, 255, 0.733);
}


/* ======== HEADER ======== */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    border-bottom: 2px solid var(--gris);
}

header > div {
    display: flex;
    align-content: center;
}

.logoChico {
    height: 60px;
    border-radius: 6px;
}

.botoncitos {
    padding: 10px;
    border-radius: 6px;
    align-content: center;
    text-align: center;
    height: 30px;
    width: 70px;
    align-self: center;
}

.login {
    background-color: var(--azul);
    color: var(--blanco);
}

a {
    text-decoration: none;
}

.botonHeader{
    transition: 0.5s;
    text-align: center;
    height: 40px;
    width: 110px;
    margin: 0 5px;
    border-radius: 6px;
    align-content: center;
    color: var(--negro);
    align-self: center;
}

.botonHeader:hover{
    background-color: var(--verde);
    color: var(--blanco);
}

/* ======== FOOTER ======== */
footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    background-color: var(--gris);
    width: 100%;
    margin-top: auto;
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 33.3%;
    text-align: center;
}

footer p {
    margin: 0;
    width: 100%;
}

#rrss > img {
    height: 30px;
}

/* NUEVO: Estructura flex para el body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    margin: 0;
    font-family: 'kanit';
}

#grafico{
    width: 40%;
    margin: 30px auto;
}


/* MOVIL */
@media (max-width: 576px){
    #rrss{
        width: 100%;
        order: 1;
        margin: 5px 0;
        justify-content: space-evenly;
    }
    footer>div{
        width: 50%;
    }
    header>div:nth-child(2){
        order: 1;
        justify-content: center;
    }
    #grafico{
        width: 70%;
    }
}