/* ESTRUCTURA GENERAL */
main, section {
    display: flex;
    flex-wrap: wrap;
}

main {
    margin: 20px;
}

body {
    font-family: 'kanit';
}

/* SECCIONES */
section h1, main > * {
    width: 100%;
    justify-content: center;
}

h1 {
    text-align: center;
    color: var(--azul);
}

section>img{
    width: 20%;
}

main>section:first-child>p{
    text-align: center;
}

/* EMPRESAS */
#sectEmpresas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.empresas {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 3px solid var(--azul);
    box-shadow: var(--sombra-azul);
    width: 30%;
    justify-content: center;
}

.empresaImg {
    margin-top: 10px;
    width: 90%;
}

.empresas>p:nth-child(2){
    font-size: 25px;
}

.empresas > p {
    padding: 10px;
    width: 100%;
    margin: 0;
}

/* LOGIN */
#sectLogin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20%;
}

#sectLogin > p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/* CONTACTA */
#sectContacta textarea {
    margin: 0 10px;
    width: 60%;
    max-height: 100px;
    min-height: 100px;
}

#sectContacta>form, #sectContacta div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#sectContacta p{
    width: 100%;
    text-align: center;
}

button{
    all: unset;
    cursor: pointer;
}


/* TABLET */
@media (max-width: 768px) {
    .empresas{
        margin: 10px 0;
        width: 45%;
    }
}

/* MOVIL */
@media (max-width: 576px){
    .empresas{
        margin: 10px 0;
        width: 100%;
    }
    .empresas:last-child{
        display: none;
    }
    #sectLogin{
        padding: 0;
    }
}