/* POSICIONAMIENTO */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px 0;
    box-shadow: var(--sombra-negra);
    border-radius: 10px;
}

section>div{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

section>div:first-child{
    width: 26%;
    justify-content: center;
    align-content: center;
}

section>div:nth-child(4){
    width: 13%;
    align-content: space-evenly;
}

/* ESTILOS */

section>div:nth-child(2){
    width: 30%;
}

section>div:nth-child(3){
    width: 31%;
}

section>div:nth-child(4)>p{
    font-weight: bolder;
    text-align: center;
}

section>div>*{
    margin: 10px 0;
    width: 100%;
}

.verde{
    color: var(--verde);
}

.rojo{
    color: var(--rojo);
}

a.btnVerde{
    color: var(--verde);
}

a.btnRojo{
    color: var(--rojo);
}

section>div>div>*:first-child{
    color: var(--azul);
}

img.foto{
    width: 80%;
}

p{
    margin: 0;
}

.nombre{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

.boton{
    all: unset; /* quita todo lo que el navegador le ponga por defecto, tengo que ponerlo al principio */
    width: 80px;
    padding: 10px 0;
    background-color: var(--azul);
    color: var(--blanco);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

/* TABLET */
@media (max-width: 768px) {
    section>div:nth-child(2),
    section>div:nth-child(3),
    section>div:nth-child(4){
        width: 100%;
        margin: 10px 10px;
    }
    section>div:first-child{
        width: 30%;
        margin: auto;
    }
}

/* MOVIL */
@media (max-width: 576px){
    section{
        width: 95%;
    }
    section>div:first-child{
        width: 40%;
        margin: auto;
    }
}