/* POSICIONAMIENTO */

main{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    width: 80%;
    margin: 40px 0;
    box-shadow: var(--sombra-negra);
    border-radius: 20px;
}

main>div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.divDatos{
    justify-content: space-between;
}

.divContacto{
    justify-content: space-around;
}

main>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divCV{
    align-content: center;
}

main>div:last-child{
    justify-content: center;
}

/* ESTILOS */

main>div{
    margin-bottom: 30px;
}

main img.foto {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-top: 20px;
}

.nombre, .nombreApellidos{
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
}

main p, .cv{
    margin: 0 20px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(59, 128, 255, 0.185);
    border: 0.3px solid var(--azul);
    box-shadow: var(--sombra-azul);
    width: fit-content;
    color: var(--negro);
}

div>.pNormal{
    background-color: transparent;
    color: var(--azul);
    padding: 5px 3px;
    border: none;
    box-shadow: none;
}

.descripcion{
    width: 100%;
}

main a.logout{
    margin-top: 20px;
    text-decoration: none;
    background-color: var(--rojo);
    box-shadow: 0px 0px 10px var(--rojo);
    color: var(--blanco);
    border-radius: 10px;
    padding: 10px 15px;
}

/* MOVIL */
@media (max-width: 576px){
    .divDatos>div{
        width: 100%;
        margin: 5px 0;
    }
    .divContacto>div{
        width: 100%;
        margin: 5px 0;
    }
    main{
        width: 95%;
    }
}